<% include ../partials/header %>



    <div class="below-nav-group-title">
      Renaming Group: <%=foundGroup.name%>
    </div>



    <div class="middle-row-section">

      <div class="left-nav">


      </div>



      <div class="main-section">

        <div class="main-section-item">
          <form action="/<%=currentUser._id%>/my-groups/<%=foundGroup._id%>/rename%>" method="post">
            <div class="form-group">
              <label>Renaming Group</label>
              <input type="text" class="form-control" name="name" value="<%=foundGroup.name%>" placeholder="Type New Name Here...">
            </div>

            <div style="text-align:center">
              <button style="background:none;border:none">Rename</button>
            </div>


          </form>
        </div>






      </div>

      <div class="right-nav">

      </div>

    </div>


<% include ../partials/footer %>
