<% include ./partials/header %>

	<div class="middle-row-section">

      <div class="left-nav">


        
      </div>

      <div class="main-section">


        <div class="main-section-item">

          <form action='/login' method="POST">

            <div class="form-group">
              <label style="margin-top:15px;">Enter Username</label>
              <input type="text" name="username" class="form-control">
              <label style="margin-top:15px;">Enter Password</label>
              <input type="password" name="password" class="form-control">
            </div>


            

            <div style="text-align:center">
              <button id="create_post" style="background:none;border:none">Login</button>
            </div>





          </form>
        </div>




          
      </div>

      <div class="right-nav">

      </div>

    </div>


